:root {
  --main-color: #1083d6;
  --title-color: #2a3b47;
  --text-color: #697477;
  --light-text-color: #a0a7ac;
  --border-color: #e2eaee;
  --container-color: #ffffff;
  --body-color: #f6f6fa;
  --container-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

body.dark-theme {
  --main-color: #52a5e0;
  --title-color: #ffffff;
  --text-color: #c8cdd0;
  --light-text-color: #a0a7ac;
  --border-color: #2a3b47;
  --container-color: #212e36;
  --body-color: #192229;
  --container-shadow: none;
}

@media screen and (min-width: 1024px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    background: var(--body-color);
    color: var(--text-color);
    padding: 3rem;
    font-family: "Quicksand", sans-serif;
  }
  header {
    padding: 0 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    text-transform: uppercase;
  }
  .nav_name {
    cursor: pointer;
    margin-right: auto;
    font-family: "Shadows Into Light", cursive;
    display: inline-block;
  }
  .nav_name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .nav_name a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav_name a:hover {
    color: #0088a9;
  }
  .nav_links {
    padding: 0.5rem;
  }
  .nav_links li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
  }
  .nav_links li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--text-color);
  }
  .nav_links li a:hover {
    color: #0088a9;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
    font-size: 5rem;
  }
  p {
    font-size: 2rem;
    padding: 2rem;
  }
  .presentation {
    text-align: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .profile_image {
    border-radius: 2rem;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
  }
  a {
    color: var(--main-color);
  }
  hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }
  .subtitle {
    color: var(--light-text-color);
  }
  .button_switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  .button_switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
  }
  .dark-theme .button_switch::after {
    left: unset;
    right: 0;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .button_switch {
    background-color: orange;
  }
  .button_switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
  }
  .button {
    background: var(--main-color);
    color: white;
    font-size: 1.6rem;
    padding: 0.9rem 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .change-theme-button {
    font-size: 20px;
    font-weight: 600;
    outline: none;
    color: var(--title-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .space {
    background-color: transparent;
    width: 100%;
    height: 5rem;
  }
  .main-content,
  .proyectos,
  .contacto {
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 8rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    height: 100vh;
  }
  .contacto li {
    list-style: none;
  }
  .contacto li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
  }
  .contacto li a:hover {
    color: #0088a9;
  }
  .donaciones,
  .twitter,
  .github,
  .gmail {
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .twitter::before {
    content: url(./images/twitter.png);
    padding-right: 1rem;
  }
  .github::before {
    content: url(./images/github.png);
    padding-right: 1rem;
  }
  .gmail::before {
    content: url(./images/gmail.png);
    padding-right: 1rem;
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }
  .container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1023px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    background: var(--body-color);
    color: var(--text-color);
    padding: 3rem;
    font-family: "Quicksand", sans-serif;
  }
  header {
    padding: 0 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    text-transform: uppercase;
  }
  nav .nav_links {
    height: 100vh;
    font-size: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  .nav_links a {
    font-size: 3rem;
  }
  .nav-bar .openMenu i {
    font-size: 3rem;
    padding-right: 2rem;
    cursor: pointer;
  }
  nav .nav_links .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  nav .openMenu {
    display: block;
  }
  .fa-twitter:hover {
    color: #569af3;
  }
  .fa-github:hover {
    color: #ff7b00;
  }
  nav .nav_links li a:hover {
    background: none;
    color: #0088a9;
    font-size: 2.5rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  .nav_name {
    cursor: pointer;
    margin-right: auto;
    font-family: "Shadows Into Light", cursive;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav_name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .nav_name a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav_name a:hover {
    color: #0088a9;
  }
  .nav_links {
    padding: 0.5rem;
  }
  .nav_links li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
  }
  .nav_links li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--text-color);
  }
  .nav_links li a:hover {
    color: #0088a9;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
    font-size: 5rem;
  }
  p {
    font-size: 2rem;
    padding: 2rem;
  }
  .presentation {
    text-align: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .profile_image {
    border-radius: 2rem;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
  }
  a {
    color: var(--main-color);
  }
  hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }
  .subtitle {
    color: var(--light-text-color);
  }
  .button_switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  .button_switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
  }
  .dark-theme .button_switch::after {
    left: unset;
    right: 0;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .button_switch {
    background-color: orange;
  }
  .button_switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
  }
  .button {
    background: var(--main-color);
    color: white;
    font-size: 1.6rem;
    padding: 0.9rem 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .change-theme-button {
    font-size: 20px;
    font-weight: 600;
    outline: none;
    color: var(--title-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .space {
    background-color: transparent;
    width: 100%;
    height: 5rem;
  }
  .main-content,
  .proyectos,
  .contacto {
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 8rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    height: 100vh;
  }
  .contacto li {
    list-style: none;
  }
  .contacto li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
  }
  .contacto li a:hover {
    color: #0088a9;
  }
  .donaciones,
  .twitter,
  .github,
  .gmail {
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .twitter::before {
    content: url(./images/twitter.png);
    padding-right: 1rem;
  }
  .github::before {
    content: url(./images/github.png);
    padding-right: 1rem;
  }
  .gmail::before {
    content: url(./images/gmail.png);
    padding-right: 1rem;
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }
  .container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */