:root {
  --main-color: #1083d6;
  --title-color: #2a3b47;
  --text-color: #232627;
  --light-text-color: #a0a7ac;
  --border-color: #c2d2da;
  --container-color: #ffffff;
  --body-color: #f6f6fa;
  --container-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

body.dark-theme {
  --main-color: #52a5e0;
  --title-color: #ffffff;
  --text-color: #c8cdd0;
  --light-text-color: #a0a7ac;
  --border-color: #2a3b47;
  --container-color: #212e36;
  --body-color: #192229;
  --container-shadow: none;
}

@media screen and (min-width: 1024px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
  }
  header {
    padding: 0 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    text-transform: uppercase;
  }
  .nav_name {
    cursor: pointer;
    margin-right: auto;
    font-family: "Shadows Into Light", cursive;
    display: inline-block;
  }
  .nav-bar .openMenu i,
  .icons,
  .closeMenu {
    display: none;
  }
  .nav_name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .nav_name a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav_name a:hover {
    color: #0088a9;
  }
  .nav_links {
    padding: 0.5rem;
  }
  .nav_links li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
  }
  .nav_links li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--text-color);
  }
  .nav_links li a:hover {
    color: #0088a9;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
    font-size: 5rem;
  }
  p {
    font-size: 2rem;
    padding: 2rem;
  }
  .presentation {
    text-align: center;
    padding: 4.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .profile_image {
    border-radius: 2rem;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
  }
  a {
    color: var(--main-color);
  }
  hr {
    border: none;
    border-bottom: 0.1rem solid var(--border-color);
  }
  .subtitle {
    color: var(--light-text-color);
  }
  .button_switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  .button_switch::after {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
  }
  .dark-theme .button_switch::after {
    left: unset;
    right: 0;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .button_switch {
    background-color: orange;
  }
  .button_switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
  }
  .button {
    background: var(--main-color);
    color: white;
    font-size: 1.6rem;
    padding: 0.9rem 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    top: 5rem;
    left: 40%;
    width: 20%;
    height: 5rem;
  }
  .button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .change-theme-button {
    font-size: 20px;
    font-weight: 600;
    outline: none;
    color: var(--title-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .space {
    background-color: transparent;
    width: 100%;
    height: 5rem;
  }
  .main-content,
  .proyectos {
    margin: 2rem 8vw;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .contacto {
    margin: 3rem 8vw;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  #text-about,
  #text-proyects {
    margin: 0 10vw;
  }
  .form_email,
  .form_message,
  .form_name {
    width: 50%;
    position: relative;
    left: 25%;
    top: 3rem;
    text-align: center;
    display: block;
    padding: 3rem 4rem;
    margin: 0.8rem 0;
    border: 0.2rem solid var(--text-color);
    border-radius: 0.5rem;
  }
  .form_email label,
  .form_message label,
  .form_name label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  .form_email input,
  .form_message textarea,
  .form_name input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: var(--text-color);
  }
  .footer_items {
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    position: relative;
    top: 3rem;
    width: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_items li {
    list-style: none;
    padding: 0 5rem;
  }
  .footer_items li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
  }
  .footer_items .gmail a:hover {
    color: #a13628;
  }
  .footer_items .github a:hover {
    color: #2c469e;
  }
  .footer_items .linkedin a:hover {
    color: #334f9c;
  }
  .donaciones {
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gmail::before {
    content: url(../images/gmail.png);
    padding-right: 1rem;
  }
  .github::before {
    content: url(../images/github.png);
    padding-right: 1rem;
  }
  .linkedin::before {
    content: url(../images/linkedin.png);
    padding-right: 1rem;
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }
  .container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1023px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    background: var(--body-color);
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
  }
  header {
    padding: 0 1.5rem;
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    text-transform: uppercase;
  }
  nav .nav_links {
    height: 100vh;
    font-size: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    display: none;
  }
  .nav_links a {
    font-size: 3rem;
  }
  .nav-bar .openMenu i {
    font-size: 3rem;
    padding-right: 2rem;
    cursor: pointer;
  }
  nav .nav_links .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  nav .openMenu {
    display: block;
  }
  .fa-envelope:hover {
    color: #e60838;
  }
  .fa-github:hover {
    color: #ff7b00;
  }
  nav .nav_links li a:hover {
    background: none;
    color: #0088a9;
    font-size: 2.5rem;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
  .icons a {
    text-decoration: none;
    color: var(--text-color);
  }
  .nav_name {
    cursor: pointer;
    margin-right: auto;
    font-family: "Shadows Into Light", cursive;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .nav_name p {
    font-size: 3.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  .nav_name a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav_name a:hover {
    color: #0088a9;
  }
  .nav_links {
    padding: 0.5rem;
  }
  .nav_links li {
    list-style: none;
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
  }
  .nav_links li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: var(--text-color);
  }
  .nav_links li a:hover {
    color: #0088a9;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title-color);
    font-size: 5rem;
  }
  p {
    font-size: 2rem;
    padding: 2rem;
  }
  .presentation {
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .profile_image {
    border-radius: 2rem;
    width: 10rem;
    height: 10rem;
    padding-top: 2rem;
  }
  a {
    color: var(--main-color);
  }
  hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
  }
  .subtitle {
    color: var(--light-text-color);
  }
  .button_switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  .button_switch::after {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
  }
  .dark-theme .button_switch::after {
    left: unset;
    right: 0;
    border-radius: 100px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .button_switch {
    background-color: orange;
  }
  .button_switch span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    display: block;
    background: none;
    color: #fff;
  }
  .button {
    background: var(--main-color);
    color: white;
    font-size: 1.6rem;
    padding: 0.9rem 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    width: 60%;
    margin-left: 20%;
  }
  .button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .change-theme-button {
    font-size: 20px;
    font-weight: 600;
    outline: none;
    color: var(--title-color);
    background: none;
    border: none;
    cursor: pointer;
  }
  .space {
    background-color: transparent;
    width: 100%;
    height: 5rem;
  }
  .main-content,
  .proyectos,
  .contacto {
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    padding: 0.8rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 100%;
  }
  #text-about,
  #text-proyects {
    margin: 0 10vw;
  }
  .form_email,
  .form_message,
  .form_name {
    width: 90%;
    text-align: center;
    display: block;
    padding: 3rem 4rem;
    margin: 0.8rem 2rem;
    border: 0.2rem solid var(--text-color);
    border-radius: 0.5rem;
  }
  .form_email label,
  .form_message label,
  .form_name label {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.8rem;
  }
  .form_email input,
  .form_message textarea,
  .form_name input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: var(--text-color);
  }
  .footer_items {
    background: var(--container-color);
    -webkit-box-shadow: var(--container-shadow);
            box-shadow: var(--container-shadow);
    width: 100%;
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_items li {
    list-style: none;
    padding: 0 3rem;
  }
  .footer_items li a {
    display: none;
  }
  .gmail::before {
    content: url(../images/gmail.png);
  }
  .github::before {
    content: url(../images/github.png);
  }
  .linkedin::before {
    content: url(../images/linkedin.png);
  }
  .subtitle {
    margin-top: -1rem;
    margin-bottom: 1.5rem;
  }
  .container {
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
  }
  .donate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 4rem;
    margin-bottom: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */